* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Unbounded", sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #f5f3ff, #ede9fe);
  color: #26202b;
}

header {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #c7aaff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(109, 40, 217, 0.2);
  text-align: center;
}

h2 {
  color: #611bd1;
  margin-bottom: 20px;
  border-bottom: 2px solid #460096;
  padding-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  padding: 30px 20px 50px;
  background: #c7aaff;
  box-shadow: 0 2px 10px rgba(109, 40, 217, 0.15);
  text-align: center;
}

button {
  margin-bottom: 30px;
  padding: 12px 22px;
  border: none;
  background: #7609f3;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
}

button:hover {
  background: #520dad;
  transform: translateY(-2px);
}


.users-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.card {
  background: #dac6ff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  width: 260px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #7609f3;
  margin-bottom: 10px;
}

.card h3 {
  color: #4b0082;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  margin: 4px 0;
  color: #333;
}

.placeholder {
  color: #8f8e8e;
  font-size: 16px;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
